[submodule "yolov5"]
	path = yolov5
	url = https://github.com/ecologize/yolov5/
[submodule "CameraTraps"]
	path = CameraTraps
	url = https://github.com/ecologize/CameraTraps
[submodule "ai4eutils"]
	path = ai4eutils
	url = https://github.com/Microsoft/ai4eutils
[submodule "deepfaune"]
	path = deepfaune
	url = https://plmlab.math.cnrs.fr/deepfaune/software.git
