[submodule "yolov5"]
	path = yolov5
	url = https://github.com/ecologize/yolov5/
[submodule "CameraTraps"]
	path = CameraTraps
	url = https://github.com/ecologize/CameraTraps
[submodule "ai4eutils"]
	path = ai4eutils
	url = https://github.com/Microsoft/ai4eutils
